<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; Steven Mondragon; <%= year %>, CSE 340 App</p>
  
  <p class="error-link">
    <a href="/trigger-error" title="Trigger server error">
      Trigger Error
    </a>
  </p>
</footer>