<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  <div id="tools">
    <% if (typeof loggedin !== "undefined" && loggedin) { %>

      <a href="/account/" title="Go to your account">My Account</a>
      |

      <% if (accountData && accountData.account_type === "Client") { %>
        <a href="/orders" title="View your orders">My Orders</a>
      <% } else { %>
        <a href="/orders" title="View all orders">Orders</a>
      <% } %>

      |
      <a href="/orders/create" title="Create a new order">Order</a>
      |
      <a href="/account/logout" title="Log out">Logout</a>

    <% } else { %>
      <a href="/account/login" title="Click to log in">Login</a>
    <% } %>
  </div>
</header>
