<div class="bodyHero">
    
    <div class="heroPart">
        <h1>Welcome to CSE Motors!</h1>
        <img src="/images/vehicles/delorean.jpg" alt="Delorean vehicle">



        <div class="smallPart">
            <a href="#" class="titleHero">DMC Deloren</a>
            <a href="#">3 Cup Holders</a>
            <a href="#">Superman doors</a>
            <a href="#">Fuzzy dice!</a>
            <img src="/images/site/own_today.png" alt="Own Today img">
        </div>
    </div>

    <div class="sections">
            <div class="delorean-reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>
                <a href="#">"So fast it's almost like traveling in time." (4/5)</a>
                </li>
                <li>
                <a href="#">"Coolest ride on the road." (4/5)</a>
                </li>
                <li>
                <a href="#">"I'm feeling McFly!" (5/5)</a>
                </li>
                <li>
                <a href="#">"The most futuristic ride of our day." (4.5/5)</a>
                </li>
                <li>
                <a href="#">"80's livin and I love it!" (5/5)</a>
                </li>
            </ul>
        </div>


        <div class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="catalog-part">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Flux cap">
                <a href="#">Flux Capacitor</a>
            </figure>

            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flama image">
                <a href="#">Flame Decals</a>
            </figure>

            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper sticker">
                <a href="#">Bumper Stickers</a>
            </figure>

            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub cam">
                <a href="#">Hub Caps</a>
            </figure>
            </div>

        </div>
    </div>
    






</div>
