@media screen and (min-width: 630px) {
  .sections {
    grid-template-areas:
      "upgrades reviews";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

.delorean-reviews {
  grid-area: reviews;
}

.upgrades {
  grid-area: upgrades;
}

.heroPart{
    display: block;
    margin-bottom: 30px;
    justify-items: center;
}



.smallPart{
    padding: 40px 5px;
    margin: 4px;
    width: auto;
}

.smallPart a{
    font-size: 100%;
    margin-left: 5px;
    
}

body {
  background-image: url('/images/site/small_check.jpg');
  background-size:auto;
  background-position: center;
  background-repeat: repeat;
}

#wrapper{
    margin: 30px 80px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    border: 4px solid var(--color-accent);
}

#inv-display{
  display: flex;
  flex-direction: row;
}

  .detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .detail-image img {
    max-width: 100%;
  }
  
  .detail-content{
    margin-top: 40px;
  }


  .error-container img{
    width: 600px;
    align-self: center;
    justify-self: center;
  }

  .form-inv{
    margin: 5px 100px;
  }

  .manag-list{
    margin: 20px 100px;
  }

}