/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.sections {
  display: grid;
  grid-template-areas:
    "reviews"
    "upgrades";
}


/*HEADER*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a{
  text-decoration: none;
}

#top-header{
  margin: 20px;
}

.siteName a{
  font-size: 2rem;
}

/* NAV BAR PART*/

.navBar{
  width: 100%;
}

.linksBar{
  margin: 10px 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.linksBar li{
  border: 1px solid #ddd;
  flex: 1;
  padding: 10px 10px;
}

.linksBar li a{
  text-decoration: 0;
}


/* HERO PART */

.bodyHero{
  margin: 20px;
}

.heroPart{
  position: relative;
  display: inline-block;
  justify-content: center;
}

.heroPart img{
  width: 100%;
  height: auto;
  display: block;  
}

.smallPart{
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 213, 213, 0.74);
  position: absolute;
  border-radius: 10px;
  top: 80px;
  left: 20px;
  align-items: flex-start;
  padding: 5px;
  gap: 2px;

}

.titleHero{
  font-size: 20px;
  font-weight: bold;
}

.smallPart a{
  text-decoration: none;
  color: black;
}

.smallPart img{
  width: 100px;
  height: auto;
  align-self: center;
}


/* REVIEW BODY PART*/



.delorean-reviews ul{
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}



.delorean-reviews a{
  text-decoration: none;
}


/* CATALOG WITH IMAGES*/


.catalog-part{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 20px;
  gap: 20px;

}

.catalog-part figure{
  display: grid;
  grid-template-rows: 1fr auto;
}

.catalog-part img{
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  border-radius: 5px;
  border: 1px solid black;
  align-self: center;
  padding: 10px;

}

.catalog-part a{
  text-align: center;
}


/*FOOTER*/

footer{
  position: relative;
  margin: 20px;
}