<h1>Inventory Management</h1>

<% if (messages.success) { %>
  <p class="success"><%= messages.success %></p>
<% } %>

<% if (messages.error) { %>
  <p class="error"><%= messages.error %></p>
<% } %>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
</ul>
