<form class="form-inv" method="post" action="/orders/create">

  <label for="inv_id">Select Vehicle:</label>
  <select id="inv_id" name="inv_id" required>
    <option value="" disabled selected>Select a Vehicle</option>

    <% inventory.forEach(vehicle => { %>
      <option value="<%= vehicle.inv_id %>">
        <%= vehicle.inv_make %> <%= vehicle.inv_model %>
      </option>
    <% }) %>
  </select>

  <label for="quantity">Quantity:</label>
  <input 
    type="number" 
    id="quantity"
    name="quantity" 
    value="1" 
    min="1" 
    required
  >

  <button type="submit">Create Order</button>

</form>
